<!-- Copyright (c) Microsoft Corporation.
     Licensed under the MIT License. -->

<!-- <LayoutSnippet> -->
<!DOCTYPE html>
<html>
  <head>
    <title>Roscolendar</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x"
      crossorigin="anonymous">
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>

  <body>
    <div class="alan-btn"></div>   <!--Alan AI integration -->
    <script type="text/javascript"
      src="https://studio.alan.app/web/lib/alan_lib.min.js"></script>
    <script>
      var alanBtnInstance = alanBtn({
        key: "5a650989b2490214b1298798a8f358162e956eca572e1d8b807a3e2338fdd0dc/stage",
        onCommand: function (commandData) {
          if (commandData.command === "go:back") {
            //call client code that will react on the received command
          }
        },
        onButtonState: async function(status) {
    if (status === 'ONLINE') {
      if (!this.greetingWasSaid) {
        await alanBtnInstance.activate();
        alanBtnInstance.playText("");
        this.greetingWasSaid = true
      }
    }
  },
        onCommand: function (commandData){
    AlanChangeSubject(commandData.command, commandData.payload)
    AlanChangeBody(commandData.command, commandData.payload)
    AlanChangeAttendees(commandData.command, commandData.payload)
    AlanChangeStart(commandData.command, commandData.payload)
    AlanChangeEnd(commandData.command, commandData.payload)
    AlanOpenCalendar(commandData.command)
    AlanOpenHome(commandData.command)
    AlanNewEvent(commandData.command)
    AlanCreate(commandData.command)
    AlanCancel(commandData.command)
  },
  
        rootEl: document.getElementById("alan-btn"),
        
      });
//Functions

    function AlanChangeSubject(cmd, pyd){
      if (cmd === 'AlanSubject'){
        document.getElementById('Subject').value = pyd.AlanSubject
            }
    }

    function AlanChangeBody(cmd, pyd){
      if (cmd === 'AlanBody'){
        document.getElementById('Body').value = pyd.AlanBody
            }
    }
    
   function AlanChangeAttendees(cmd, pyd){
    if (cmd === 'AlanAttendees'){
      document.getElementById('Attendees').value = pyd.AlanAttendees
        }
 }
 function AlanOpenCalendar(cmd){
  if (cmd === 'AlanOpenCalendar'){
    window.open('/calendar', '_top')
        }
 }
 function AlanOpenHome(cmd){
  if (cmd === 'AlanOpenHome'){
    window.open('/', '_top')
        }
 }
 function AlanNewEvent(cmd){
  if (cmd === 'AlanNewEvent'){
    window.open('/calendar/new', '_top')
        }
 }
 function AlanChangeStart(cmd,pyd){
  if (cmd === 'AlanStart'){
    document.getElementById('Start').value = pyd.AlanStart
        }
 }
 function AlanChangeEnd(cmd,pyd){
  if (cmd === 'AlanEnd'){
    document.getElementById('End').value = pyd.AlanEnd
        }
 }
 function AlanCreate(cmd){
  if (cmd === 'AlanCreate'){
    document.getElementById("Create").click()
        }
 }
 function AlanCancel(cmd){
  if (cmd === 'AlanCancel'){
    window.open('/calendar', '_top')
        }
 }
    </script>
    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
      <div class="container">
        <a href="/" class="navbar-brand">Roscolendar</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse"
          aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
          <ul class="navbar-nav me-auto">
            <li class="nav-item">
              <a href="/" class="nav-link{{#if active.home}} active{{/if}}">Home</a>
            </li>
            {{#if user}}
              <li class="nav-item" data-turbolinks="false">
                <a href="/calendar" class="nav-link{{#if active.calendar}} active{{/if}}">Calendar</a>
              </li>
            {{/if}}
          </ul>
          <ul class="navbar-nav justify-content-end">
            <li class="nav-item"></li>
            {{#if user}}
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true"
                  aria-expanded="false">
                  {{#if user.avatar}}
                    <img src="{{ user.avatar }}" class="rounded-circle align-self-center me-2" style="width: 32px;">
                  {{else}}
                    <img src="/images/no-profile-photo.png" class="rounded-circle align-self-center me-2" style="width: 32px;">
                  {{/if}}
                </a>
                <div class="dropdown-menu dropdown-menu-end">
                  <h5 class="dropdown-item-text mb-0">{{ user.displayName }}</h5>
                  <p class="dropdown-item-text text-muted mb-0">{{ user.email }}</p>
                  <div class="dropdown-divider"></div>
                  <a href="/auth/signout" class="dropdown-item">Sign Out</a>
                </div>
              </li>
            {{else}}
              <li class="nav-item">
                <a href="/auth/signin" class="nav-link">Sign In</a>
              </li>
            {{/if}}
          </ul>
        </div>
      </div>
    </nav>
    <main role="main" class="container">
      {{#each error}}
        <div class="alert alert-danger" role="alert">
          <p class="mb-3">{{ this.message }}</p>
          {{#if this.debug }}
            <pre class="alert-pre border bg-light p-2"><code>{{ this.debug }}</code></pre>
          {{/if}}
        </div>
      {{/each}}

      {{{body}}}
    </main>

    <!-- Bootstrap -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4"
    crossorigin="anonymous"></script>
  </body>
</html>
<!-- </LayoutSnippet> -->