<!-- Copyright (c) Microsoft Corporation.
     Licensed under the MIT License. -->

<!-- <NewEventFormSnippet> -->
<form method="POST">
  <div class="form-group">
    <label>Subject</label>
    <input class="form-control" name="ev-subject" type="text" value="{{ newEvent.subject }}" id="Subject">
  </div>
  <div class="form-group">
    <label>Attendees</label>
    <input class="form-control" name="ev-attendees" type="text" value="{{ newEvent.attendees }}" id="Attendees">
  </div>
  <div class="row">
    <div class="col">
      <div class="form-group">
        <label>Start</label>
        <input class="form-control" name="ev-start" type="datetime-local" value="{{ newEvent.start }}" id="Start">
      </div>
    </div>
    <div class="col">
      <div class="form-group">
        <label>End</label>
        <input class="form-control" name="ev-end" type="datetime-local" value="{{ newEvent.end }}" id="End">
      </div>
    </div>
  </div>
  <div class="form-group mb-3">
    <label>Body</label>
    <textarea class="form-control" name="ev-body" rows="3" id="Body">{{ newEvent.body }}</textarea>
  </div>
  <input class="btn btn-primary mr-2" type="submit" value="Create" id="Create"/>
  <a class="btn btn-secondary" href="/calendar">Cancel</a>

  <div class="form-group mb-3"></div>
  <p>
    <button class="btn btn-light btn-sm mb-3 " type="button" data-bs-toggle="collapse" data-bs-target="#collapseWidthExample" aria-expanded="false" aria-controls="collapseWidthExample">
      Commands list
    </button>
  </p>
  <div style="min-height: 180px;">
    <div class="collapse collapse-horizontal mb-3"  id="collapseWidthExample">
      <div class="card card-body" style="width: 300px;">
        Open calendar tab ... <br>
        Open home tab... <br>
        Add new event ... <br>
        Change subject to... <br>
        Add "person name" as a new attendee ... <br>
        Change start date to ... <br>
        Change end date to ... <br>
        Body message is ... <br>
        Create the new event ... <br>
        Cancel new event ... <br>
      </div>
    </div>
  </div>
  
</form>



<!-- </NewEventFormSnippet> -->